#landing-page{
  background-image: url("background.jpg");
  background-size: 1500px 800px;
  background-repeat: no-repeat;
  height: 700px;
  background-attachment: fixed;
}

#bar{
 align-items: center;
 background-color: rgb(121, 118, 118);
}

#landing-page-header{
  padding-left: 25%;
  padding-top: 15%;
  font-size: 500%;
}

#landing-page-subheader{
  padding-left: 30%;
  padding-top: 5%;
}

#action-body{
 padding-left: 35%;
 padding-top: 15%;
 font-size: 200%;
 background-color: rgb(170, 173, 172);
 height: 550px;
}

#client-body{
  background-color: rgb(170, 173, 172);
 height: 750px;
}